:root{
  --primary:#D9DCD6;
  --secondary:#007EA7;
  --tertiary:#003459;
}

#About{
  background-color: var(--primary);
}

.res-font{
  font-size: clamp(1rem, 2.5vw, 1.6rem);
}

.btn-primary{
  color:var(--primary)  !important;
  background-color: var(--tertiary) !important;
}
header{
  z-index: 20;
  background-color: var(--tertiary);
}
.img-anime{
  height:3rem; 
  width:5rem !important; 
  aspect-ratio:2/1;
  object-position: center;
  animation: scale 0.8s infinite ease-in-out forwards !important;
  transition: all ease 0.2s;
}
.lottie{
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.owl-dot>span{
  background-color: var(--secondary) !important;
}
.active>span{
  background-color: var(--tertiary) !important;
} 
@keyframes scale {
  0%,100%{
    transform: scaleX(0.8);
  }
  50%{
    transform: scaleX(1);
  }
}