:root{
  --primary:#D9DCD6;
  --secondary:#007EA7;
  --tertiary:#003459;
}

#About{
  background-color: var(--primary);
}

.res-font{
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.btn-primary{
  color:var(--primary)  !important;
  background-color: var(--tertiary) !important;
}
